html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
    display: flex;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.navbar-inverse {
    background-color: #A5D0AE;
    border-color: #A5D0AE;
}

.navbar-inverse .navbar-brand, .navbar-inverse .btn-link, .navbar-inverse .navbar-nav > li > a {
    color: #025256;
}

.navbar-inverse .navbar-nav > li.active > a {
    background-color: rgba(8, 8, 8, .3);
}

.bids-grid table{
    max-width: 100%;
}

.bids-grid  table td, .bids-grid  table th {
    white-space: normal;
    word-wrap: break-word;
    word-break: break-all;
}

.bid-menu {
    list-style: none;
}

.bid-menu li {
    margin-bottom: 1rem;
}

.view-img-wrap {
    float: left;
    width: 100px;
    padding: 0 25px;
    cursor: pointer;
}

.btn-back {
    margin-left: 5px;
    font-weight: 600;
}

.disabled {
    opacity:0.6;
    pointer-events: none;
}

.enabled-events {
    pointer-events: all;
}

.bid-view .detail-view th {
    width: 25%;
}

.bid-view .detail-view td {
    width: 75%;
}

@media(max-width:767px) {
    .bid-view-send {
        margin-top: 10px;
    }
}

.bid-search {
    display: none;
}

.bid-search-head {
     margin: 0 5px;
     color: #999;
}

.bid-search-head-main {
    margin-right: 10px;
    color: #333;
}

.bid-search-content {
    color: dodgerblue;
}

.center-menu-container {
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.center-menu {
    width: 250px;
}

a.center-menu-item {
    background-color: #1F85DE;
    color: #fff;
    border-color: #1F85DE;
    margin-bottom: 15px;
}

a.center-menu-item:hover {
    background-color: #a5d0ae;
    color: #fff;
    border-color: #a5d0ae;
}

a.btn-feedback {
    background-color: #eb5a46;
    border-color: #eb5a46;
}

.bid-attributes-title {
    margin: 20px 0;
    font-weight: bold;
    text-align: center;
}

.bid-attributes-list ul {
    list-style-type: none;
}

.bid-attributes-list li {
    padding: 5px;
    margin: 10px 0;
    border: solid #ddd 1px;
    cursor: pointer;
}

.bid-attributes-list li:hover {
    background-color: #a5d0ae;
    color: #fff;
    border-color: #a5d0ae;
}

.bid-attributes-list li.active {
    background-color: #1F85DE;
    color: #fff;
    border-color: #1F85DE;
}

.news-article {
    border: 1px solid #eee;
    padding: 5px;
}

.news-article-all {
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
    padding: 10px;
}

.news-wrap a {
    color: #333;
    font-weight: 600;
}

.news-date {
    font-size: 12px;
    font-style: italic;
}

.news-all {
    margin: 10px 0;
}

.news-like {
    cursor: pointer;
}

.news-own-like {
    color: #1F85DE;
}

.label-hint {
    margin-right: 5px;
}

.not-viewed {
    font-weight: bold;
}

.bid-done {
    color: #a5d0ae;
}

.grid-attributes-header {
    text-align: center;
    font-weight: bold;
}

